*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.App{
}
::-webkit-scrollbar{
  background-color: gray;
}
::-webkit-scrollbar-thumb{
  background-color: black;
}